html {
    font-size: 10px;
    color: white;
    font-family: 'Corbel', sans-serif;
    background-color:#262626;
}

body {
    margin-top: 0;
    background-color: #262626;
}

div.topnav_barre {
    z-index: 100;
    background-color: #262626;
    position: sticky;
    top: 0;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: white solid 1px;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

div.topnav_barre a {
    display: inline-block;
    padding: 16px 20px;
    text-decoration: none;
    color: white;
    font-size:26px;
    
}

img.logo {
    display: block;
    height: 200px;
    margin: 50px auto 0 auto;
}

/* ROTATION utiliser la classe .rotating */

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;
  }